@model IEnumerable<WasteFoodDistributionSystem.Models.EF.FoodDistribution>
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout_Emp.cshtml";
}

<h4 class="fw-semibold m-3">Distribution History</h4>
<div>
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Donor</th>
                    <th>Distributed At</th>
                    <th>Recipient(s)</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var his in Model)
                {
                    <tr>
                        <td>#@his.DistributionId</td>
                        <td><a href="/Employee/DonorProfile/@his.CollectRequest.RestaurantId" class="text-decoration-none">@his.CollectRequest.Restaurant.Name</a></td>
                        <td>@his.DistributedAt</td>
                        <td>@his.RecipientCount</td>
                        <td>@his.Location</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>
<nav>
    <ul class="pagination justify-content-center">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
            </li>
        }
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
            </li>
        }
    </ul>
</nav>
