@model WasteFoodDistributionSystem.Models.ViewModel.DonationModel

@{
    ViewBag.Title = "AddDonation";
    Layout = "~/Views/Shared/_Layout_Dnr.cshtml";
}
@using (Html.BeginForm("AddDonation", "Restaurant", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Donation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10">
            <label class="control-label">Food Picture</label>
            <input class="form-control" type="file" name="FoodPicture" />
            @Html.ValidationMessageFor(model => model.FoodPicture, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-10">
            <label for="myTimeInput">Select a time:</label>
            <input type="time" id="myTimeInput" name="PreservTime" class="form-control" step="60" value="00:00" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="my-3 btn btn-outline-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
