@model IEnumerable<WasteFoodDistributionSystem.Models.EF.FoodDistribution>
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout_Dnr.cshtml";
}

<h4 class="fw-semibold m-3">Distribution History</h4>
<div class="chart flex-grow-1 px-2 w-75 m-auto my-1">
    <canvas id="chart"></canvas>
</div>
@Html.Partial("~/Views/Charts/_DonatinoLineChart.cshtml")
<div>
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Donation</th>
                    <th>Distribute By</th>
                    <th>Distributed At</th>
                    <th>Location</th>
                    <th>Recipient</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>#@item.DistributionId</td>
                        <td><a class="text-decoration-none" href="/Restaurant/DonationDetails/@item.CollectRequest.RequestId">@item.CollectRequest.Name</a></td>
                        <td><a href="/Restaurant/DistributerProfile/@item.CollectRequest.EmployeeId" class="text-decoration-none">@item.CollectRequest.Employee.Name</a></td>
                        <td>@item.DistributedAt</td>
                        <td>@item.Location</td>
                        <td>@item.RecipientCount</td>
                    </tr>
                }
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
                    </li>
                }
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }
                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </section>
</div>
