@model IEnumerable<WasteFoodDistributionSystem.Models.EF.CollectRequest>
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout_Dnr.cshtml";
}

<h4 class="fw-semibold m-3">Distribution History</h4>
<div>
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Distribute By</th>
                    <th>Distributed At</th>
                    <th>Location</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>#@item.RequestId</td>
                        <td><a href="/Restaurant/DistributerProfile/@item.EmployeeId" class="text-decoration-none">@item.Employee.Name</a></td>
                        <td>@item.CreatedAt</td>
                        <td>@item.Restaurant.Address</td>
                        <td>@item.Status</td>
                    </tr>
                }
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
                    </li>
                }
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }
                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </section>
</div>
