@model IEnumerable<WasteFoodDistributionSystem.Models.EF.CollectRequest>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Dnr.cshtml";
}

<div class="d-flex flex-wrap">
    <div>
        <a href="/Restaurant/AddDonation">
            <div class="card dnr-card add">
                <i class="bi bi-plus-circle-dotted d-block" style="font-size: 3em; margin-top: 50%; color: rgb(255, 61, 64);"></i>
                Add New Donation
            </div>
        </a>
    </div>
    @foreach (var req in Model)
    {
        <div>
            <a href="/Restaurant/EditDonation/@req.RequestId">
                <div class="card dnr-card">
                    <img class="rounded" src="@Url.Content("~/Images/DonationFood/" + @req.Image)" alt="Food" width="150" />
                    <h5 class="mt-3">@req.Name</h5>
                    <p class="text-muted">@req.Status</p>
                    <span class="small text-muted"><i class="bi bi-clock-history"></i> @req.MaximumPreservationTime h</span>
                    <span class="small text-muted"><i class="bi bi-basket ms-2"></i> @req.Amount</span>
                </div>
            </a>
        </div>
    }
</div>
<nav>
    <ul class="pagination justify-content-center">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
            </li>
        }
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
            </li>
        }
    </ul>
</nav>