@model WasteFoodDistributionSystem.Models.EF.Restaurant

@{
    ViewBag.Title = "Registration";
}

<section class="mx-5">
    <div class="d-flex justify-content-between">
        @using (Html.BeginForm("Registration", "Restaurant", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class=" m-auto p-5 border mt-2">
                <h1>Register</h1>
                <p class="text-muted">Join us in the fight against hunger - donate your surplus food today and make a difference!</p>
                <div class="form-group">
                    <label>Restaurant Name</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-10">
                    <label class="control-label">Food Picture</label>
                    <input class="form-control" type="file" name="ProfilePicture" />
                </div>

                <div class="form-group mb-4">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Join" class="btn btn-outline-primary mt-3" />
                    </div>
                </div>
                <a class="link-primary text-decoration-none" href="/Restaurant/Login">Already A Donor?</a>
            </div>
        }
        <div>
            <img src="https://thumbs.dreamstime.com/b/reduce-food-waste-cartoon-vector-illustration-good-print-postcard-environmental-warning-sticker-129373112.jpg" alt="Poster" height="600" />
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
